{% extends 'base.html' %}

{% block content %}
{{ super() }}

<h5 style="margin-left: 20px">User loged:  {{ current_user.userName}} </h5>
<h5 style="margin-left: 20px">User loged mail:  {{ current_user.email}} </h5>
<label><a href="{{ url_for('logout')}}" style="margin-left: 20px">LOGOUT</a></label>


<form action="/addClimbers" method="post" class="form-add" enctype='multple/form-data'>

{{ form.hidden_tag() }}

<p style="margin-bottom: 20px; font-size: x-large;">Enter information about climber:</p>

{% for cat, msg in get_flashed_messages(True) %}
 <div class="flash {{cat}}">{{msg}}</div>   
{% endfor %}

<p>{{ form.fname.label() }} {{ form.fname() }}</p>
<p>{{ form.lname.label() }} {{ form.lname() }}</p>
<p>{{ form.fotoUrl.label() }} {{ form.fotoUrl() }}</p>

<p><label>Biography:</label>
<p>{{ form.biography.label() }} {{ form.biography(rows="5") }}</p>

{{ form.submit }}


</form>



{% endblock %}